.app {
  width: 100%;
}
.app__container {
  max-width: 1024px;
  margin: auto;
  padding: 2rem 0rem;
}
.app__header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 0.5rem; */
  box-shadow: 0px 0px 40px var(--shadow-color);
  border-radius: 6px;
}
